.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  transform: scale(2);
}